doctype html
<!-- pug 템플릿은 파이썬과 같이 들여쓰기로 구분한다. -->
html(lang="ko")
    head  
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Clone Zoom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header 
            h1 Clone Zoom
        main    
            h2 Hi my Clone Zoom
        script(src="/public/js/app.js")